<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:object="${post}" th:method="post" th:action="@{/posts/create}">
    <label for="title">Title:</label>
    <br>
    <input type="text" id="title" th:field="*{title}">
    <br>

    <label for="body">Body:</label>
    <br>
    <textarea id="body" th:field="*{body}"></textarea>
    <br>

    <input type="submit" value="Submit">
</form>


</body>
</html>