<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Form</title>
</head>
<body>

<!--When a field is dynamic (i.e. Id) within a file path we will need to use this particular syntax-->

<form th:action="@{/posts/{id}/edit (id = ${post.id})}" th:method="post" th:object="${post}">


    Title:
    <input type="text" id="title" th:field="*{title}"/>

    Description:


    <input type="text" id="body" th:field="*{body}"/>

    <input type="submit" value="Save"/>
</form>


</body>
</html>